@import url('https://fonts.bunny.net/css?family=poppins:300,400,500,600');
@import 'tailwindcss';
@source "../inertia";

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

/* Scrollbars style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 15, 15, 0.6);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(130, 130, 130, 0.5);
  border-radius: 3px;
  border: 1px solid rgba(40, 40, 40, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 130, 130, 0.7);
}
